Repository tutti-tutti/tutti-client: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: 커스텀 클래스의 자동완성이 가능한 tailwindCSS의 @utility 디렉티브 사용 (#47)
  src/styles/fonts.css
Due: prettier

fix: spacing 토큰 오타 수정 (#76)
  src/styles/token/spacing.css
Due: prettier

fix: spacing 토큰 오타 수정 (#76) (#77)
  src/styles/token/spacing.css
Due: prettier

[✨ design] font 디자인 토큰 및 시맨틱 스타일 클래스 설정 (#70)
  src/app/page.tsx
  src/styles/fonts.css
  src/styles/globals.css
Due: eslint, prettier

design: 버튼 컴포넌트에 variant 추가하여 적용 (#75)
  src/components/common/button/Button.tsx
  src/components/common/button/ScrollToTopButton.tsx
  src/components/icons/HeartIcon.tsx
Due: eslint, prettier

refactor: icon button 컴포넌트 범용성 높이도록 수정 (#75)
  src/components/common/button/IconButton.tsx
Due: eslint, prettier

feat: 상품 썸네일 컴포넌트 제작 및 스토리북 작성 (#75)
  src/components/index.ts
  src/components/products/ProductThumbnail.tsx
  src/components/products/ProductThumbnailAction.tsx
  src/components/products/index.ts
  src/stories/product/ProductThumbnail.stories.tsx
Due: eslint, prettier

fix: 상품 썸네일 스토리 타이틀 변경 (#75)
  src/stories/product/ProductThumbnail.stories.tsx
Due: eslint, prettier

refactor: 없어진 디자인 토큰으로 인한 푸터 css 값 수정 (#79)
  src/components/layout/footer/Footer.tsx
  src/components/layout/footer/FooterCompanyInfo.tsx
  src/components/layout/footer/FooterCustomerInfo.tsx
  src/components/layout/footer/FooterNav.tsx
  src/components/layout/footer/FooterPaymentInfo.tsx
Due: eslint, prettier

feat: 상품에 대한 목데이터 추가 (#84)
  src/mocks/.gitkeep
  src/mocks/index.ts
  src/mocks/products.ts
Due: eslint, prettier

feat: 할인율 계산 유틸 함수 추가 (#84)
  src/utils/calculateDiscountRate.ts
  src/utils/index.ts
Due: eslint, prettier

feat: 상품 타입 추가 (#84)
  src/types/index.ts
  src/types/productType.ts
Due: eslint, prettier

fix: 푸터에서 삭제된 결제 정보 export 삭제 (#84)
  src/components/layout/footer/index.ts
Due: eslint, prettier

feat: 상품 정보 페치하는 서비스 함수 추가 (#84)
  src/services/.gitkeep
  src/services/fetchProducts.ts
  src/services/index.ts
Due: eslint, prettier

chore: 목데이터에 외부 이미지 소스 삽입으로 인한 외부 이미지 도메인 명시 (#84)
  next.config.ts
Due: none

feat: 테스트용 상품 핸들러 추가 (#84)
  src/constants/endpoints.ts
  src/lib/msw/handlers/index.ts
  src/lib/msw/handlers/productsHandlers.ts
Due: eslint, prettier

feat: 클라이언트에서 사용하기 위한 상품 api 라우터 추가 (#84)
  src/app/api/products/route.ts
Due: eslint, prettier

refactor: 상수 값을 가져와서 라벨과 플레이스홀더 노출 (#60)
  src/app/(auth)/signin/page.tsx
  src/constants/auth.ts
Due: eslint, prettier

feat: 로그인 페이지 구현 (#60)
  src/app/(auth)/signin/page.tsx
  src/components/auth/SocialLoginButton.tsx
  src/constants/auth.ts
  src/constants/index.ts
Due: eslint, prettier

feat: auth 그룹 라우팅의 레이아웃 컴포넌트 구현 (#60)
  src/app/(auth)/layout.tsx
Due: eslint, prettier

feat: 엑스트라 버튼 컴포넌트 구현 (#60)
  src/components/common/button/ExtraButton.tsx
  src/components/common/index.ts
Due: eslint, prettier

feat: 인풋 컴포넌트가 className를 props로 직접 받고 해당 값이 twMerge에 적용되도록 수정 (#60)
  src/components/common/Input.tsx
Due: eslint, prettier

design: (auth) 라우팅 그룹의 레이아웃이 중앙에 배치되도록 수정 (#60)
  src/app/(auth)/layout.tsx
Due: eslint, prettier

feat: iconProps로 아이콘 svg를 핸들링할 수 있도록 수정 (#60)
  src/components/common/Input.tsx
Due: eslint, prettier

design: 의미에 맞는 태그로 수정 및 디자인 업데이트 (#60)
  src/app/(auth)/signin/page.tsx
  src/components/auth/SocialLoginButton.tsx
  src/components/common/Input.tsx
Due: eslint, prettier

design: 회원가입 페이지 UI 구현 (#60)
  src/app/(auth)/signup/page.tsx
  src/constants/auth.ts
Due: eslint, prettier

design: 비밀번호 재설정 페이지 UI 구현 (#60)
  src/app/(auth)/reset-password/page.tsx
  src/constants/auth.ts
Due: eslint, prettier

refactor: signup 페이지 컴포넌트명 변경 (#60)
  src/app/(auth)/signup/page.tsx
Due: eslint, prettier

feat: auth 페이지 UI 스토리북 추가 (#60)
  src/stories/ResetPasswordPage.stories.ts
  src/stories/SigninPage.stories.ts
  src/stories/SignupPage.stories.ts
Due: eslint, prettier

design: global.css에서 생성한 effect-custom-effect 유틸리티 클래스를 이용하여 쉐도우 스타일 변경 (#60)
  src/app/(auth)/layout.tsx
  src/components/common/button/ExtraButton.tsx
Due: eslint, prettier

feat: 상품 아이템과 리스트, 스켈레톤 제작 (#84)
  src/app/page.tsx
  src/components/products/ProductItem.tsx
  src/components/products/ProductItemSkeleton.tsx
  src/components/products/ProductList.tsx
  src/components/products/index.ts
Due: eslint, prettier

feat: 상품 아이템과 리스트 스토리북 작성 (#84)
  src/stories/product/ProductItem.stories.tsx
  src/stories/product/ProductList.stories.tsx
Due: eslint, prettier

feat: bg-custom-gradient 유틸리티 클래스 생성 (#60)
  src/styles/globals.css
Due: prettier

feat: font 스타일 디자인 토큰 정의 (#82)
  src/styles/token/font/primitive.css
Due: prettier

design: bg-custom-gradient 클래스로 그라디언트 컬러를 적용하도록 변경 (#60)
  src/components/common/button/ExtraButton.tsx
Due: eslint, prettier

refactor: 폰트 커스텀 스타일의 속성 값을 디자인 토큰으로 적용 (#82)
  src/styles/fonts.css
Due: prettier

feat: 기본 base 폰트 스타일을 body에 적용 (#82)
  src/app/layout.tsx
Due: eslint, prettier

fix: 삭제된 컴포넌트를 export하는 구문 삭제 (#60)
  src/components/layout/footer/index.ts
Due: eslint, prettier

feat: 인풋 컴포넌트 스토리북에 작성한 args 중 icon의 값을 IconType에 맞게 (#60)
  src/stories/Input.stories.ts
Due: eslint, prettier

chore: 사용하지 않는 tailwindcss import 문 제거 (#82)
  src/styles/fonts.css
Due: prettier

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
